#editor {
      width: 100vw;
      height: 80vh;
      background-color: #EEE;
      transition: background-color 1s ease;
}
#editor:hover {
      background-color: #FFF;
      transition: background-color 1s ease;
}
#taskbar {
      width: 100vw;
      height: 20vh;
      background-color: #EEE;
      box-shadow: 25px 5px 25px 15px grey;
      transition: background-color 1s ease, box-shadow 1.5s ease;
}
#taskbar:hover {
      background-color: #FFF;
      box-shadow: 50px -5px 25px 15px grey;
      transition: background-color 1s ease, box-shadow 1.5s ease;
}
