#editor {
      width: 100vw;
      height: 80vh;
      background-color: #EEE;
      transition: background-color 1s ease;
}
#editor:hover {
      background-color: #FFF;
      transition: background-color 1s ease;
}
#taskbar {
      width: 100vw;
      height: 20vh;
      background-color: #EEE;
      box-shadow: 25px 5px 25px 15px grey;
      transition: background-color 1s ease, box-shadow 1.5s ease;
}
#taskbar:hover {
      background-color: #FFF;
      box-shadow: 40px -5px 20px 15px grey;
      transition: background-color 1s ease, box-shadow 1.5s ease;
      /* animation: shadow-hover 1s ease-in-out; */
}
/* @keyframes shadow-hover {
      0% { box-shadow: 25px 5px 25px 15px grey; }
      50% { box-shadow: 60px -7px 25px 15px grey; }
      100% { box-shadow: 50px -5px 25px 15px grey; }
} */
/* #add-menu {
      box-shadow: 5px 5px 10px 5px lightgrey;
}
#add-menu:hover {
      box-shadow: 6px 6px 8px 6px lightgrey;
} */
