* {
      user-select: none;
}

.z-1 {
      z-index: 1;
      position: absolute;
}
.node {
      position: absolute;

      background-color: #EEE;
      box-shadow: 3px 3px 15px 5px gray;
      transition: background-color 0.5s ease, box-shadow 1s ease;
}
.node:hover {
      background-color: #FFF;
      box-shadow: 7px 7px 20px 5px gray;
      transition: background-color 1s ease, box-shadow 0.5s ease;
}
.node-data {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin: 5px;

      box-shadow: 2px 2px 2px 2px gray;
      transition: box-shadow 1s ease;
}
.node-data:hover {
      box-shadow: 4px 4px 4px 2px gray;
      transition: box-shadow 0.5s ease;
}
.center {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
}
.error {
      color: #D00;
}
.warning {
      color: #F00;
}
.button {
      margin-right: 1vw;
      /* box-shadow: 5px 5px 10px 0px gray; */
}

#editor {
      width: 100vw;
      height: 80vh;
      text-align: center;

      background-color: #EEE;
      transition: background-color 1s ease;
}
#editor:hover {
      background-color: #FFF;
      transition: background-color 0.5s ease;
}
#taskbar {
      width: 100vw;
      height: 20vh;
      background-color: #EEE;
      box-shadow: 25px 5px 25px 15px grey;
      transition: background-color 0.5s ease, box-shadow 1s ease;
}
#taskbar:hover {
      background-color: #FFF;
      box-shadow: 40px -5px 20px 15px grey;
      transition: background-color 1s ease, box-shadow 0.5s ease;
      /* animation: shadow-hover 1s ease-in-out; */
}
/* @keyframes shadow-hover {
      0% { box-shadow: 25px 5px 25px 15px grey; }
      50% { box-shadow: 60px -7px 25px 15px grey; }
      100% { box-shadow: 50px -5px 25px 15px grey; }
} */
#welcome {
      margin: 0;

      color: #000;
      text-shadow: 3px 3px 5px gray;
      transition: color 5s ease, text-shadow 1s ease;
}
#welcome:hover {
      color: #CCC;
      text-shadow: 10px 10px 10px gray;
      transition: color 10s ease, text-shadow 0.5s ease;
}
#menu {
      margin: 2%;
}
#canvas {
      pointer-events: none;
}
